body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}
.col-1 {
  width: 40%;
  float: left; /* Float the image container to the left */
  height: 100%;
  background-color: white;
}

.col-2 {
  width: 60%;
  max-height: 100%;
  float: left; /* Float the content container to the left */
  background-color: #d2e7f3;
}

html, body, #root, .App {
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
